/* custom css  */
.container{
    width: 100vw;
    height: 100vh;
  /* background-color: azure; */
  }
  .main{
  
    display: flex;
  }
  .main input{
    width: 700px;
  }
  .main button{
  
    width: 200px;
  }

  .tasks li{
    list-style: none;
  }
  .taskFeild{
    /* width: 100%; */
    border: 2px solid blue;
  }
  .list-item{
    display: flex;
    list-style: none;
  }
  .list-item input{
    width: 400px;
  }

  